
<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /rome/

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /rome/index.php [L]

</IfModule>

